assets/
__pycache__/
.venv/
venv/
.vscode/          
.idea/              
.DS_Store           
Thumbs.db           

module/yolo/runs/
module/yolo/test/
module/yolo/train/
module/yolo/valid/
data.yaml
README.dataset.txt
README.roboflow.txt

*.wav
module/whisper_train/artifacts/logs/*/**

*.zip
*.pt
*.ckpt
*.json
*.bin
*.safetensors
