assets/
__pycache__/
.venv/
venv/
.vscode/          
.idea/              
.DS_Store           
Thumbs.db           
*.ckpt

module/yolo/runs/
module/yolo/test/
module/yolo/train/
module/yolo/valid/
*.pt
*.txt
*.yaml
